<template>
    <div class="invalid-feedback">
        <ul>
            <li v-for="(error, index) in errors[errorKey]" :key="index">{{ error }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        errorKey: String,
        errors: Object
    }
}
</script>
