<template>
    <div>
        <div class="row">
            <div class="col">
                <h1>Forgot Password</h1>
                <p class="lead">Enter your email address and a password reset email with further instructions will be
                    sent to your inbox.  Please note that the password reset email will expire after an hour.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form @submit.prevent="submit">
                    <div class="form-floating mb-3">
                        <input type="email" v-model.trim="email" id="email" class="form-control" placeholder="Email"
                               :class="{'is-invalid': errors.hasOwnProperty('email')}" />
                        <label for="email">Email</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="email" />
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import FormFieldError from '@/components/form/FormFieldError';
import {mapActions, mapGetters, mapState} from 'vuex';

export default {
    components: {FormFieldError},
    computed: {
        email: {
            get () {
                return this.$store.state.forgotPassword.email;
            },
            set (email) {
                this.$store.commit('forgotPassword/updateEmail', {email});
            }
        },
        ...mapState('forgotPassword', [
            'errors'
        ]),
        ...mapGetters('forgotPassword', [
            'isFormValid'
        ])
    },
    methods: {
        ...mapActions('forgotPassword', [
            'submit'
        ])
    }
}
</script>
