<template>
    <div>
        <div class="row">
            <div class="col">
                <h1>Log In</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form @submit.prevent="login">
                    <div class="form-floating mb-3">
                        <input type="email" v-model.trim="email" id="email" class="form-control" placeholder="Email" />
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" v-model.trim="password" id="password" class="form-control"
                               placeholder="Password" />
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Submit</button>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <router-link to="/forgot-password">Forgot password</router-link>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <router-link to="/register">Don't have an account? Register here.</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
    computed: {
        email: {
            get () {
                return this.$store.state.auth.email;
            },
            set (email) {
                this.$store.commit('auth/updateEmail', {email});
            }
        },
        password: {
            get () {
                return this.$store.state.auth.password;
            },
            set (password) {
                this.$store.commit('auth/updatePassword', {password});
            }
        },
        ...mapGetters('auth', [
            'isFormValid'
        ])
    },
    methods: {
        ...mapActions('auth', [
            'login'
        ])
    }
}
</script>
