<template>
    <div>
        <div class="row">
            <div class="col">
                <h1>Register</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form @submit.prevent="register">
                    <div class="form-floating mb-3">
                        <input type="text" v-model.trim="firstName" id="firstName" class="form-control"
                               placeholder="First Name"
                               :class="{'is-invalid': errors.hasOwnProperty('first_name')}" />
                        <label for="firstName">First Name</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="first_name" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" v-model.trim="lastName" id="lastName" class="form-control"
                               placeholder="Last Name"
                               :class="{'is-invalid': errors.hasOwnProperty('last_name')}" />
                        <label for="lastName">Last Name</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="last_name" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" v-model.trim="email" id="email" class="form-control" placeholder="Email"
                               :class="{'is-invalid': errors.hasOwnProperty('email')}" />
                        <label for="email">Email</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="email" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" v-model.trim="password" id="password" class="form-control"
                               placeholder="Password" :class="{'is-invalid': errors.hasOwnProperty('password')}" />
                        <label for="password">Password</label>
                        <div class="form-text">
                            Passwords must be at least 8 characters and include at least one of each: numbers, uppercase
                            letters, and special characters.
                        </div>
                        <FormFieldError v-if="errors" :errors="errors" error-key="password" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" v-model.trim="passwordConfirmation" id="confirm" class="form-control"
                               placeholder="Confirm Password"
                               :class="{'is-invalid': errors.hasOwnProperty('password_confirmation')}" />
                        <label for="confirm">Confirm Password</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="password_confirmation" />
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from 'vuex';
import FormFieldError from '@/components/form/FormFieldError';

export default {
    components: {FormFieldError},
    computed: {
        firstName: {
            get() {
                return this.$store.state.register.firstName;
            },
            set(firstName) {
                this.$store.commit('register/updateFirstName', {firstName});
            }
        },
        lastName: {
            get() {
                return this.$store.state.register.lastName;
            },
            set(lastName) {
                this.$store.commit('register/updateLastName', {lastName});
            }
        },
        email: {
            get() {
                return this.$store.state.register.email;
            },
            set(email) {
                this.$store.commit('register/updateEmail', {email});
            }
        },
        password: {
            get() {
                return this.$store.state.register.password;
            },
            set(password) {
                this.$store.commit('register/updatePassword', {password});
            }
        },
        passwordConfirmation: {
            get() {
                return this.$store.state.register.passwordConfirmation;
            },
            set(passwordConfirmation) {
                this.$store.commit('register/updatePasswordConfirmation', {passwordConfirmation});
            }
        },
        ...mapGetters('register', [
            'isFormValid'
        ]),
        ...mapState('register', [
            'errors'
        ])
    },
    methods: {
        ...mapActions('register', [
            'register'
        ])
    }
}
</script>
