<template>
    <div>
        <div class="row">
            <div class="col">
                <h1>Reset Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form @submit.prevent="resetPassword">
                    <div class="form-floating mb-3">
                        <input type="email" v-model.trim="email" id="email" class="form-control" placeholder="Email"
                               :class="{'is-invalid': errors.hasOwnProperty('email')}" />
                        <label for="email">Email</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="email" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" v-model.trim="password" id="password" class="form-control"
                               placeholder="Password" :class="{'is-invalid': errors.hasOwnProperty('password')}" />
                        <label for="password">Password</label>
                        <div class="form-text">
                            Passwords must be at least 8 characters and include at least one of each: numbers, uppercase
                            letters, and special characters.
                        </div>
                        <FormFieldError v-if="errors" :errors="errors" error-key="password" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" v-model.trim="passwordConfirmation" id="confirm" class="form-control"
                               placeholder="Confirm Password"
                               :class="{'is-invalid': errors.hasOwnProperty('password_confirmation')}" />
                        <label for="confirm">Confirm Password</label>
                        <FormFieldError v-if="errors" :errors="errors" error-key="password_confirmation" />
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="!isFormValid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import FormFieldError from '@/components/form/FormFieldError';
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

export default {
    components: {FormFieldError},
    mounted() {
        this.setToken({token: this.$route.params.token});
    },
    computed: {
        email: {
            get () {
                return this.$store.state.resetPassword.email;
            },
            set (email) {
                this.$store.commit('resetPassword/updateEmail', {email});
            }
        },
        password: {
            get () {
                return this.$store.state.resetPassword.password;
            },
            set (password) {
                this.$store.commit('resetPassword/updatePassword', {password});
            }
        },
        passwordConfirmation: {
            get () {
                return this.$store.state.resetPassword.passwordConfirmation;
            },
            set (passwordConfirmation) {
                this.$store.commit('resetPassword/updatePasswordConfirmation', {passwordConfirmation});
            }
        },
        ...mapState('resetPassword', [
            'errors'
        ]),
        ...mapGetters('resetPassword', [
            'isFormValid'
        ])
    },
    methods: {
        ...mapMutations('resetPassword', [
            'setToken'
        ]),
        ...mapActions('resetPassword', [
            'resetPassword'
        ])
    }
}
</script>
