<template>
    <div id="appContainer">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">App Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/">Home</router-link>
                        </li>
                    </ul>
                    <ul v-if="isAuthenticated" class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                          d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                </svg>
                                {{ user.email }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#" @click.prevent="logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul v-else class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/login">Log In</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="col">
                <div class="row">
                    <router-view />
                </div>
            </div>
        </div>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-text me-auto">App Name &copy;{{ new Date().getFullYear() }}</span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">MyCompany, LLC</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
import Vue from 'vue';
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

export default {
    computed: {
        ...mapState('app', [
            'error',
            'success',
            'loading'
        ]),
        ...mapState('auth', [
            'isAuthenticated',
            'user'
        ]),
        ...mapGetters('app', [
            'isError',
            'isSuccess',
            'isLoading'
        ])
    },
    watch: {
        error: function () {
            if (this.isError) {
                Vue.$toast.error(this.error, {
                    position: 'top-right',
                    duration: 10000,
                    onDismiss: () => this.clearError()
                });
            }
        },
        success: function () {
            if (this.isSuccess) {
                Vue.$toast.success(this.success, {
                    position: 'top-right',
                    duration: 10000,
                    onDismiss: () => this.clearSuccess()
                });
            }
        }
    },
    methods: {
        ...mapMutations('app', [
            'clearError',
            'clearSuccess',
            'clearLoading'
        ]),
        ...mapActions('auth', [
            'logout'
        ])
    }
}
</script>

<style>
#appContainer {
    padding-bottom: 61px;
}
</style>
